<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>BrewberryPi</h1>
            <p>This is a platform designed to facilitate the fermentation of beer. This platform utilizes a RaspberryPi, some Relays (and other electrical components), and Node.js (express, ejs, etc.) to provide a interface for setting the desired temperature and maintaining that temperature along with alerts when the temperature is not within defined thresholds. To learn more about the project, view the project on GitHub: <a href="http://www.github.com/TheGrandPackard/BrewberryPi">github.com/TheGrandPackard/BrewberryPi</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>